<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>

		<target xsi:type="File" name="another" fileName="logs\nlog-another-${shortdate}.log" archiveFileName="logs/Archive/another-${shortdate}.txt"
				maxArchiveFiles="5"
				archiveEvery="Day"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />
		<target xsi:type="File" name="mediator" fileName="logs\nlog-mediator-${shortdate}.log" archiveFileName="logs/Archive/mediator-${shortdate}.txt"
				maxArchiveFiles="5"
				archiveEvery="Day"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />
		<target xsi:type="File" name="Entity-log" fileName="logs\Entity-${shortdate}.log" archiveFileName="logs/Archive/EF-${shortdate}.txt" 
				maxArchiveFiles="5" 
				archiveEvery="Day"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />
		<target name="console" xsi:type="Console"/>
	</targets>

	<rules>
		<logger name="Microsoft.EntityFrameworkCore.*" minlevel="Info" writeTo="Entity-log, console" final="true" />
		<logger name="MediatR.Mediator" minlevel="Info" writeTo="mediator, console" />
		<logger name="*" minlevel="Debug" writeTo="another" final="true" />
	</rules>
</nlog>